<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Parking Locator</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <script src="script.js"></script>

  <style>
    #mapid {height: 500px;}
  </style>
</head>
<body>
  
  <div>
    <form action="/simpan" method="post">
      <input type="text" readonly="true" name="lat" id="lat"> <br/>
      <input type="text" readonly="true" name="lon" id="lon"> <br/>
      <input type="text" name="nama" placeholder="nama pemilik kendaraan" maxlength="40" required> <br/>
      <input type="text" name="nopol" maxlength="12" placeholder="nomor polisi" required> <br/>
      <button>Simpan</button>
    </form>
    <div id="mapid"></div>
  </div>
</body>
</html>
